.Events {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 400px;
    justify-items: stretch;

    margin-bottom: 20px;
    margin-top: 20px;
}

#map {
    width: 100%;
    height: 500px;

}